.app__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-with-caption {
    padding-top: 48.80208%;
}

.caption {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 30;
    width: 100%;
}

.caption__bg-text {
    background-image: url('/assets/img/caption-text.png');
    position: sticky;
    left: 0;
    bottom: 0;
    background-size: 90%;
    background-repeat: no-repeat;
    padding: 26px 0;
}


.caption__title {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    font-size: 3rem;
    line-height: 4rem;
}

.caption__title--not-strong {
    font-weight: 700;
    text-transform: none;
}

/* section news */
.section__bg {
    background-color: #f5f5f5;
    padding-bottom: 60px;
}

.news__title {
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 38px;
    font-weight: 500;
}

.slide__vertical {
    padding-left: 40px;
    height: 90px;
}


.news__item {
    display: flex;
    align-items: center;
}

.news__item-time {
    position: relative;
    color: #999;
    font-size: 1.4rem;
    margin-right: 10px;
    padding-right: 10px;
    width: 80px;
    min-width: 80px;
    font-weight: 300;
    pointer-events: none;
}

.news__item-time::before {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #e5e5e5;
    height: 18px;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
}

.news__item-title {
    position: relative;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.news__item-title:hover,
.news__item-title:focus {
    background-color: transparent;
}

.news__item-title::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, transparent 95%, #333 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .6s ease;
}

.news__item-title:hover::before {
    background-size: 100% 100%;
}

/* section technique */
.technique__establish {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('/assets/img/establish.png');
}

.technique__establish-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: justify;
    margin-bottom: 45px;
    color: #111;
}

.technique__establish-body {
    margin-top: 20px;
}

.technique__establish-item {
    text-align: center;
}

.technique__establish-item--icon {
    margin-bottom: 15px;
}

.technique__establish-item--count {
    font-size: 4.4rem;
    color: #0082c4;
    font-weight: 500;
    line-height: 6.6rem;
}

.technique__establish-item--title {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    line-height: 2.6rem;
}

.technique__establish-item--vnd {
    font-size: 1.4rem;
    color: #666;
}

/* section service */
.section__service {
    background-color: #f5f5f5;
}

#service__content-title {
    height: 72px;
    z-index: 50;
    -webkit-line-clamp: 2;
    margin-bottom: 15px;
    color: #233a7a;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3.6rem;
}

#service__content-description {
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 288px;
    overflow: hidden;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    line-height: 2.6rem;
}

.main-swiper {
    display: none;
}

.main-slide {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.service__background {
    background-image: url('/assets/img/bg-service.png');
    display: flex;
    align-items: center;
    background-position: 40% 55%;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 1050px;
}

.content-center {
    align-items: center;
}

#showcase {
    width: 930px;
    height: 930px;
    z-index: 1;
    position: relative;
}

.image__center {
    position: absolute;
    top: 22%;
    left: 32%;
}

#showcase .image-slider {
    cursor: pointer;
    filter: grayscale(100%);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    transition: .05s ease-out;
}

#showcase .image-slider:hover {
    filter: grayscale(0);
    transition: box-shadow .3s ease;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
}

#showcase .active {
    filter: grayscale(0);
    transition: .05s ease-out;
}

/*project star*/
.project-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-project {
    padding-top: 33.75417%;
}

.caption__text-right {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    text-align: end;
    align-items: center;
}

.caption__text-right::before {
    content: '';
    position: absolute;
    background: hsla(0, 0%, 100%, .85);
    transform: skewX(-45deg);
    right: -60%;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.project-title-first {
    color: #999;
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-weight: 300;
}

.project-title-second {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 3rem;
    text-transform: uppercase;
}

.project-description {
    max-width: 40%;
    margin: 0 0 25px auto;

}

.project-description p {
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.7rem;
}

/* section shareholder */
.shareholder-bg {
    background-image: url('/assets/img/shareholder.jpg');
    padding: 40px 0;
    background-size: cover;
}

.shareholder-news {
    background: linear-gradient(135deg, #233a7a, #0083c1 50%, #5bcbf5);
    padding: 25px 25px;
}

.shareholder-title {
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 300;
    border-bottom: thin solid #e5e5e5;
    padding-bottom: 10px;
    border-color: hsla(0, 0%, 100%, .5);
    line-height: 3.6rem;
}

.news-list time {
    color: var(--white-color);
    padding-right: 10px;
    width: 75px;
    min-width: 75px;
    font-size: 1.2rem;
}

.news-item {
    display: flex;
    border-bottom: thin solid hsla(0, 0%, 100%, .5);
    padding: 10px 0;
    color: var(--white-color);
    line-height: 2.28rem;
    position: relative;
    z-index: 1;
}

.news-item::before {
    content: '';
    position: absolute;
    width: calc(100% + 48px);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease-out;
    z-index: -1;
    background: linear-gradient(135deg, #104982, #2f7896);
    opacity: 0;
}

.news-item:hover::before {
    opacity: 1;
}

.news-item a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    -webkit-tap-highlight-color: transparent;
}

.button-news {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 18px;
}

.btn-right span {
    --bottom-distance: 0px;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 50% calc(100% - var(--bottom-distance));
    transition: background-size 0.3s;
}

.btn-right:hover span {
    background-size: 100% 2px;
}

/* for-shareholder */

.shareholder-bg-first {
    background-image: url('/assets/img/for-shareholder.png');
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 210px;
    background-repeat: no-repeat;
}

.shareholder-report-list {
    list-style: none;
    align-items: center;
    padding-left: 0;
}

.shareholder-report-item a {
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    line-height: 2.6rem;
}

.shareholder-report-item a span {
    --bottom-distance: 0px;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 50% calc(100% - var(--bottom-distance));
    transition: background-size 0.3s;
}

.shareholder-report-item a:hover span {
    background-size: 100% 2px;
}

.shareholder-bg-second {
    background-image: url('/assets/img/document.png');
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 210px;
    margin-top: 30px;
}

.btn-left span {
    --bottom-distance: 0px;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 50% calc(100% - var(--bottom-distance));
    transition: background-size 0.3s;
}

.btn-left:hover span {
    background-size: 100% 2px;
}

/* share PVS */
.share {
    background-color: var(--white-color);
    padding: 25px 25px;
}

.share .shareholder-title {
    color: #000;
    border-color: #e5e5e5;
    margin-bottom: 20px;
}

.widget {
    padding: 10px;
    border: solid 1px #f4f4f4;
}

.widget-title {
    padding-left: 8px;
    font-size: 1.8rem;
    margin: 0 0 10px;
    line-height: 2.5rem;
}

.quote-container {
    display: flex;
}

.quote-content {
    height: 75px;
}

.quote-update {
    display: flex;
    flex-direction: column;
}

#quote-update-time {
    color: #999;
    font-size: 1.1rem;
    font-weight: bold;
}

.quote-count {
    font-size: 3rem;
    color: #eebb00;
    font-weight: 700;
    line-height: 6rem;
}

.quote-change-detail {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.quote-value-high {
    font-size: 3rem;
    color: #eebb00;
    font-weight: 700;
    line-height: 6rem;
}

.quote-value-low {
    font-size: 1.5rem;
    color: #eebb00;
    font-weight: 700;
    line-height: 6rem;
}

/* chart */
#chart {
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: left;
}

.copyright {
    font-size: 1.2rem;
    border-top: solid 1px #f4f4f4;
    color: #999;
    text-align: right;
    padding-top: 10px;
}

.copyright a {
    color: #1ac6ff;
    text-decoration: none;
}

/* news - event */
.event-bg {
    background-image: url('/assets/img/event.png');
    padding: 30px 0;
    background-size: cover;
}

.event__tabs-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    position: relative;
    margin: 0 0 20px 0;
}

.event__tab-item {
    position: relative;
    display: flex;
    align-items: center;
}

.event__tab-item:first-child::before {
    display: none;
}

.event__tab-item::before {
    content: '';
    position: absolute;
    display: block;
    border-left: 1px solid #b5b5b5;
    top: 50%;
    left: -8px;
    height: 18px;
    transform: translateY(-55%);
}

.event__tab-item p {
    --bottom-distance: 0px;
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #233a7a;
    font-weight: 400;
    cursor: pointer;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--text-color), var(--text-color));
    background-position: 50% calc(100% - var(--bottom-distance));
    transition: background-size 0.3s;
    text-decoration: none;
    margin-right: 15px;
    -webkit-tap-highlight-color: transparent;
}

.event__tab-item:hover a {
    background-size: 100% 2px;
}

.no-border {
    border-right: unset;
}

.active .event__tab-heading {
    background-size: 100% 2px;
}

.event__image-caption {
    display: block;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.event__image {
    position: relative;
    padding-top: 55.55556%;
    overflow: hidden;
}

.event__card-image {
    transition: transform .2s;
}

.event__caption {
    background-color: #f8f8f8;
    padding: 20px 25px 30px;
    height: 211px;
    transition: all .1s ease-in-out;
}

.event__caption-title {
    margin: 0;
    font-size: 1.4rem;
    color: #999;
}

.event__caption-new {
    min-width: 400px;
    min-height: 90px;
    margin: 25px 0 0 0;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #333;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.button__event .btn {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button__event .event__more {
    color: #999;
}

.event__image-caption:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
}

.event__image-caption:hover .event__caption {
    border-bottom: 3px solid var(--text-color);
}

.event__image-caption:hover .event__caption {
    border-bottom: 3px solid var(--text-color);
}

.event__image-caption:hover .event__card-image {
    transform: scale(1.1);
}

.swiper__slide-event {
    position: relative;
}

.swiper__slide-event .swiper-container {
    position: unset;
}

.event__tab-pane {
    display: none;
}

.event__tab-pane.active {
    display: block;
}

/* news Skatmtcl */
.background__ska {
    position: relative;
    min-height: 610px;
    overflow: hidden;
}

.background__ska::before {
    content: '';
    position: absolute;
    background: linear-gradient(135deg, #233a7a, #0083c1 50%, #5bcbf5);
    transform: skewX(-45deg);
    top: 0;
    width: 60%;
    height: 100%;
    right: 64%;
    z-index: -1;
}

.box__section-content {
    padding-top: 168px;
}

.box__section-description {
    max-width: 340px;
}

.box__section-description p {
    margin: 0 0 30px 0;
    font-size: 1.8rem;
    color: var(--white-color);
    line-height: 2.7rem;
}

.box__section-image {
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    position: absolute;
    top: 0;
    left: 42%;
    transform: skewX(-45deg);
    width: 87%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.box__section-image .image-right {
    position: absolute;
    top: 0;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: -30%;
    transform: skewX(45deg);
}

/* unit ptsc */
.title-unit {
    margin: 0 0 40px 0;
}

.swiper-6 {
    padding-top: 45px;
}

.brand-ptsc {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-ptsc img {
    object-fit: contain;
}