.main {
    overflow: hidden;
}

/* Header */
.header {
    height: var(--header-height);
    background-color: var(--white-color);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__logo svg {
    width: 100%;
    max-width: 180px;
    max-height: 95px;
}

/* .header__logo {
    width: 178px;
} */

.header__logo-link {
    display: block;
    line-height: 0;
    color: transparent;
    text-decoration: none;
}

.header__top-with--search {
    display: flex;
    padding-top: 8px;
    padding-bottom: 13px;
    justify-content: flex-end;
    align-items: center;
}

.header-language {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.header-search-icon {
    font-size: 1.3rem;
    color: #9a9a9a;
}

.header-search:hover {
    background-color: #233a7a;
}

.header-search:hover>.header-search-icon {
    color: var(--white-color);
}

/* nav mobile */
.nav__overlay {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile-tablet {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--text-color);
    transform: translateX(100%);
    opacity: 1;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 1;
}

.nav-mobile-menu {
    position: relative;
    bottom: 0px;
    right: -6px;
    display: none;
    width: 29px;
    z-index: 2;
    background-color: #f5f5f5;
}

/* svg */
.bars .line {
    fill: none;
    stroke: #333;
    stroke-width: 4;
    stroke-linecap: square;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.bars .line.top {
    stroke-dasharray: 40 172;
}

.bars .line.middle {
    stroke-dasharray: 40 111;
}

.bars .line.bottom {
    stroke-dasharray: 40 172;
}

.bars.active .top {
    stroke-dashoffset: -132px;
}

.bars.active .middle {
    stroke-dashoffset: -71px;
}

.bars.active .bottom {
    stroke-dashoffset: -132px;
}

.nav__mobile-list {
    list-style: none;
    padding: 14px 30px;
    margin: 0;
}

.nav__mobile-link {
    display: block;
    font-size: 1.6rem;
    line-height: 4rem;
    color: var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile-tablet {
    transform: translateX(0%);
    opacity: 1;
}

/* end nav */
.header-list {
    display: flex;
    position: relative;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header-list::before {
    content: "";
    position: absolute;
    background-color: #233a7a;
    width: 500%;
    top: 0;
    left: 83px;
    bottom: 0;
    transform: skewX(-45deg);
}

.header-list::after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    width: 500%;
    left: 100%;
    z-index: 11;
    top: 0;
    bottom: -2px;
}

.header-list .item-active::before {
    background-color: #5bcbf5;
    width: 100%;
}

.header-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item .header-item-link--icon {
    line-height: 2rem;
    font-size: 1.6rem;
}

.header-item:nth-child(1) {
    margin-right: 2px;
    width: 80px;
}

.header-item:nth-child(2) {
    padding-left: 20px;
}

.header-item::before {
    content: "";
    position: absolute;
    background-color: #233a7a;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-45deg);
    transition: all .2s ease-in-out;
    z-index: 2;
}

.header-item:hover::before {
    width: 100%;
    background-color: #5bcbf5;
}

.header-item-link {
    position: relative;
    padding: 10px 17px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2rem;
    font-weight: 400;
    z-index: 10;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.header-item:last-child .header-item-link:after {
    content: '';
    position: absolute;
    background-image: linear-gradient(#5bcbf5, #5bcbf5);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    transform: skewX(-45deg);
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -20px;
    z-index: -1;
}

.header-item-link:hover:last-child:after {
    background-size: 100% 100%;
    opacity: 1;
}

/* Modal search */
.container__search {
    width: 100%;
}

.input-with-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__search {
    border: 2px solid #233a7a;
    background: rgba(0, 0, 0, .65);
    padding: 5px 50px 5px 20px;
    width: 100%;
    height: 50px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
}

.input-search-icon {
    position: absolute;
    right: 27px;
    font-size: 1.7rem;
    color: var(--white-color);
    cursor: pointer;
}

.input__search:focus {
    border: 3px solid #233a7a;
}

.close-icon {
    position: absolute;
    right: 24px;
    top: 17px;
    font-size: 2.2rem;
    color: var(--white-color);
    transition: 0.3s;
    cursor: pointer;
}

.close-icon:hover {
    transition: 0.3s;
    transform: rotate(180deg);
}

/* Body */
/* Swiper tab base.css */

/* footer top */
.footer__top {
    background-color: #f5f5f5;
    padding-bottom: 60px;
}

.footer__title {
    margin: 0 0 20px 0;
    font-size: 1.8rem;
    color: #0082c4;
    font-weight: 300;
}

.footer__title-brand img {
    max-width: 100%;
    height: auto;
}

.footer__title-brand:last-child img {
    margin-top: 10px;
    width: 150px;
    height: auto;
}

.footer__title-list {
    list-style: none;
    padding-left: 0;
}

.footer__title-item {
    display: flex;
}

.footer__title-link {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #666;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.footer__title-link span {
    --bottom-distance: 0px;
    font-weight: 400;
    cursor: pointer;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#666, #666);
    background-position: 50% calc(100% - var(--bottom-distance));
    transition: background-size 0.3s;
    text-decoration: none;
}

.footer__title-link:hover span {
    background-size: 100% 2px;
}

.footer__title-link .footer__title-icon {
    margin-right: 10px;
    min-width: 20px;
    text-align: center;
    color: #5bcbf5;
}

.footer__form-register {
    position: relative;
}

.footer_title-input {
    border: none;
    border-bottom: thin solid #e3e3e3;
    background: #f5f5f5;
    padding-right: 60px;
    padding-left: 0;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
}

.footer_title-input::placeholder {
    color: #666;
    font-style: normal;
    font-size: 1.4rem;
}

.footer__btn-subcribe {
    display: flex;
    align-items: center;
    position: absolute;
    background: none;
    top: 7px;
    right: 0;
    width: 50px;
    color: #0082c4;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.footer__btn-subcribe span {
    margin-left: 5px;
}

/* footer bottom */
.footer__bottom {
    background: linear-gradient(135deg, #233a7a, #0083c1 50%, #5bcbf5);
    padding: 35px 0;
    position: relative;
}

.footer__bottom::before {
    content: "";
    position: absolute;
    top: 38px;
    right: 95%;
    z-index: 11;
    background-image: url(../img/arrow-footer-bottom.png);
    width: 80px;
    height: 80px;
}

.information {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
    padding-left: 0;
}

.information .infomation__title {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--white-color);
}

.information__copy-right {
    display: flex;
    justify-content: center;
}

.information__copy-right p {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
    line-height: 4.8rem;
}